extends layout

block content
  h1= title
  p Welcome to the Restaurant pug 
  div(class="container-fluid")
        div(class="row")
            -
                let Restaurant = [
                    {
                        "Itemname": "Biryani",
                        "Quantity": 2,
                        "cost": "Two USD"
                    },
                    {
                        "Itemname": "Startus",
                        "Quantity": 3,
                        "cost": "Three USD"
                    },
                    {
                        "Itemname": "Mangolassi",
                        "Quantity": 1,
                        "cost": "Five USD"
                    },
                ]
            
              